.example {
  -webkit-transition: height 100ms ease-in;
  -moz-transition: height 100ms ease-in;
  -ms-transition: height 100ms ease-in;
  -o-transition: height 100ms ease-in;
  transition: height 100ms ease-in;
}
