.example {
  -webkit-transition: height 100ms ease-in;
  -moz-transition: height 100ms ease-in;
  -ms-transition: height 100ms ease-in;
  -o-transition: height 100ms ease-in;
  transition: height 100ms ease-in;
}

.spinner-class {
  font-size: 2.35em;
  line-height: 1.5em;
  color: #545454;
  font-weight: 700;
  margin: 0 0 1em 0;
  letter-spacing: -0.01em;
}
