<div class="container text-center">
  <div class="row justify-content-md-center reel">
    <app-spinner #spinner1 (dispatchPosition)=getPositionOne($event) [timeoutSpinner]="50"
                 [items]="getMovieGenres()"></app-spinner>
    <app-spinner #spinner2 (dispatchPosition)=getPositionTwo($event) [timeoutSpinner]="80"
                 [items]="getMovieDecades()"></app-spinner>
<!--    <app-spinner #spinner3 (dispatchPosition)=getPositionThree($event) [timeoutSpinner]="100"-->
<!--                 [items]="getMovieCategories()"></app-spinner>-->
  </div>

  <div class="row justify-content-md-center">
    <div *ngIf="this.isMovieSelected()" class="card">
      <img src="https://image.tmdb.org/t/p/original{{this.getSelectedMovie().poster_path}}" alt="Movie poster"
           style="width:100%">
      <div class="container">
        <h4><b>{{this.getSelectedMovie().title}}</b></h4>
        <p>{{this.getSelectedMovie().original_title}}</p>
        <p>{{this.getSelectedMovie().overview}}</p>
      </div>
    </div>
    <div *ngIf="!this.isMovieSelected() && !this.isMovieLoading()">
      <img src="/assets/popcorn.png" alt="Movie poster" style="width:100%">
    </div>
    <div *ngIf="this.isMovieLoading()" class="tenor-gif-embed" data-postid="15064055" data-share-method="host">
      <img src="/assets/popcorn-loading.gif" alt="Movie gif popcorn" style="width:100%">
    </div>
  </div>

  <div class="row main-btns justify-content-md-center">
    <div class="col-md-4">
      <button type="button" class="btn btn-danger btn-lg btn-spin" (click)="runSpinner()">Mandale mecha!</button>
    </div>
  </div>
</div>
